/backup/
/config/**
!/config/.bash_alias
!/config/.bash_logout
!/config/.bash_profile
!/config/.bashrc
!/config/.gitconfig
!/config/.profile
!/config/.tmux.conf
!/config/.vimrc
!/config/.config/
/config/.config/**
!/config/.config/fish/
/config/.config/fish/**
!/config/.config/fish/config.fish
!/config/.config/fish/fish_plugins

